.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.error-messenge {
  color: red;
}

.active-filter {
  background-color: rgb(143, 159, 159);
}

.is-done {
  opacity: 0.5;
}
